<a href="https://colab.research.google.com/github/vanpyi/21-2python/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = {'Korea':'Seoul',
     'Canada':'Ottawa',
     'USA':'Washington'}
b = {0:1, 1:6, 7:9, 8:10}

print(a)
print(a['Korea'])

print(b[1])
print(b[0])

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washington'}
Seoul
6
1

## **항목 추가 및 변경**
- 기존에 키가 존재하면, 새로운 값으로 업데이트
- 기존의 키가 없다면, 새로운 키값으로 생성

In [2]:
a['japan'] = 'tokyo'
print(a)
a['japan'] = 'osaka'
print(a)
a['china'] = 'beijng'
print(a)

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washington', 'japan': 'tokyo'}
{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washington', 'japan': 'osaka'}
{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washington', 'japan': 'osaka', 'china': 'beijng'}

- update()
 - 두 딕셔너리를 병합
 - 겹치는 키가 있다면, 전달되는 값이 업데이트된다.

In [3]:
a = {'a':'apple', 'b':'banana', 'c':'car'}
b ={'b':'bus', 'c':'caramel', 'd':'dynamite', 'e':'education'}

a.update(b) #a와 b병합
print(a)

{'a': 'apple', 'b': 'bus', 'c': 'caramel', 'd': 'dynamite', 'e': 'education'}

## **key 삭제**
- del 키워드
- pop 함수 이용

In [6]:
a = {'a':1, 'b':2, 'c':3}
print(a)

del a['a']
print(a)

c = a.pop('b')
print(c)

{'a': 1, 'b': 2, 'c': 3}
{'b': 2, 'c': 3}
2

## **Clear**
- 딕셔너리 값을 모두 초기화

In [8]:
a = {'a':1, 'b':2, 'c':3}
a['add'] = 4
print(a)
a.clear()
print(a)

{'a': 1, 'b': 2, 'c': 3, 'add': 4}
{}

## **in**
- key값의 존재를 확인

In [9]:
a = {'a':1, 'b':2, 'c':3}
print(2 in a)
print('a' in a)

False
True

- dict[key]로 접근, 키가 존재하지 않을 경우 에러
- get()함수로 접근해서 키가 없는 경우에도 프로그램을 실행

In [10]:
a = {'a':1, 'b':2, 'c':3}
print(a['a'])
print(a.get('d'))

1
None

## **모든 key와 값에 접근**

- keys() : 키만 반환
- values() : 값만 반환
- items() : 키와 값의 튜플을 반환

In [14]:
a = {'a':1, 'b':2, 'c':3}
print(a)
print(list(a.keys()))
print(list(a.values()))
print(list(a.items()))

{'a': 1, 'b': 2, 'c': 3}
['a', 'b', 'c']
[1, 2, 3]
[('a', 1), ('b', 2), ('c', 3)]

## **Set**
- dictionary에서 key만 활용한 데이터구조
- 중복이 허용되지 않는 구조

In [16]:
a = {23,16,8,72,3,23,2,3,23}
print(a)

{2, 3, 8, 72, 16, 23}

In [17]:
#리스트를 Set으로 변경
a = {23,16,8,72,3,23,2,3,23}
print(a)

b = set(a)
print(b)

{2, 3, 8, 72, 16, 23}
{16, 2, 3, 23, 8, 72}

In [19]:
a = {1,2,3}
b = {2,3,4}

c = a.union(b) #합집합
print(c)
d = a.intersection(b) #교집합
print(d)
e = a.difference(b) #A-B 차집합
print(e)

{1, 2, 3, 4}
{2, 3}
{1}