<a href="https://colab.research.google.com/github/vanpyi/21-2python/blob/main/%EB%B3%80%ED%99%98%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 학습목표
* 반복문의 이해 및 활용
* range() 함수를 이해

## **for 반복문**
* 리스트, 문자열 등을 순회하면서 값을 처리할 때 사용
* i 는 매번 문장을 수항할 때마다 a 리스트 안의 값으로 순차적으로 변경된다.
* 모든 a 안의 값이 수해오디면 for문의 블록은 종료된다.

In [ ]:
a = [1,2,3,4,5] #리스트

for i in a :
  print(i)

In [2]:
#문자열에서 아이템을 출력해보기

for x in "Hello ComNet B!" :
 print(x)

H
e
l
l
o

C
o
m
N
e
t

B
!

In [5]:
# a 리스트 안의 수가 짝수면 그 수를 2로 나누고
# 홀수일 경우 2를 곱한 수를 출력하시오.

a = [1,10,6,29,28,7] #작수와 홀수의 리스트

for i in a :
  if i % 2 == 0 : #짝수
  print(i//2)
else:
  print(i*2)

IndentationError: ignored

## break
 * 특정 조건을 만족할 때 그 블록을 빠져나오기 위해서 사용

In [ ]:
a = [1,10,6,29,28,7]

for i in a :
  if i > 20:
    print(i)
    break

In [8]:
t = int(input())

for i in range(t):
  a, b = input().split()
  a = int(a)
  b = int(b)
  print(a+b)

2
1 1
2
2 2
4

## countinue
* 해당 아이템을 건너 뛰고 싶을 때 사용

In [9]:
a = [3, 9, 7, 29, 18]

for i in a :
  if i > 5 and i < 20 :
    continue
  print(i)

3
29

### range 함수
* 리스트에 혹은 튜플을 쉽게 만들 수 있는 내장 함수
* 주어진 값에 따라 다양한 결과를 반환

```python
range(10)              -> [0,1,2,3,4,5,6,7,8,9]
range(2, 10)           -> [2,3,4,5,6,7,8,9]
range(2, 10, 3)        -> [2,5,8]
```

In [10]:
print(list(range(10)))
print(list(range(2, 10)))
print(list(range(2, 10, 3)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 5, 8]

## 구구단 출력하기
* 2단부터 9단까지
* 각 단은 1부터 9까지 곱하도록

> [2단]
> 2 * 1 = 2
> 2 * 2 = 4
> 2 * 3 = 6
> 2 * 4 = 8
> 2 * 5 = 10
> 2 * 6 = 12
> 2 * 7 = 14
> 2 * 8 = 16
> 2 * 9 = 18

In [13]:
print("구구단 출력하기\n")
for i in range(2,10):
  print("[",j,"단]")
  for i in range(1, 10) :
    print(j, '*', i , '=', j*i)
  print()

구구단 출력하기

NameError: ignored